

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid antiquewhite;
}
header .img-holder {
    height: 63px;
    overflow: hidden;
    display: flex;
    gap: 10%;
    padding-right: 50px;
}
header .img-holder img {
    transform: scale(1.5);
}
header .img-holder img:hover {
    transform: scale(2);
}
header h1 {
    font-weight: 400;
    letter-spacing: 5px;
    margin: 10px;
}
header h1 span {
    color: purple;
    font-weight: 700;
}

.greetings {
    color: black;
    font-size: 25px;
    margin: 0;
    font-weight: 400;
}
.greetings span {
    color: purple;
    letter-spacing: 1px;
    font-weight: 700;
}

.header-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

a:hover{
    border-bottom: 2px solid lightgreen;
}
a.active {
    border-bottom: 2px solid lightgreen;
    color: rgb(255, 176, 72);
}
a.header {
    border: none;
    color: grey;
}
a {
    text-decoration: none;
    font-weight: 500;
    color: grey;
}
.redLink {
    color: red;
}