
.mainbox {
    margin: auto;
    height: 550px;
    width: 550px;
    position: relative;
}

.mainbox .err {
    color: #95c2de;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.mainbox .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #95c2de;
}

.mainbox .err2 {
    color: #95c2de;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.mainbox .msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.mainbox a {
    all: revert;
    text-decoration: none;
    color: #2eef0b;
}

.mainbox a:hover {
    text-decoration: underline;
}