.details {
    min-height: 70vh;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px 50px 50px 50px;
}

.details-header {
    letter-spacing: 5px;
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 50%;
}

/* Article */

.details-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.details-content-header {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 15%;
}
.details-content-header h2, .details-footer h2 {
    font-weight: 500;
    color: chocolate;
}

.details-content-header span, .details-footer h2 span {
    font-weight: 600;
    color: black;
}

.details-content-middle {
    display: flex;
    gap: 50px;
    height: 70%;
}

.details-image-holder {
    width: 50%;
}
.details-content-middle img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: aliceblue;
}

.details-content-middle-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    width: 50%;
}

.details-content-middle-inner p {
    color: chocolate;
    font-weight: 600;
}

.details-content-middle-inner p span {
    font-weight: 400;
    color: black;
}
.description-p {
    align-self: center;
}
.details-content-middle-inner p .span-bold {
    font-weight: 600;
    font-size: 20px;
}

.details-content-middle-inner button:hover {
    background-color: green;
}

.details-content-middle-inner button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 160px;
    background-color: brown;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    align-self: center;
}

/* Buttons */
.details-footer {
    background-color: antiquewhite;
    height: 15%;
    display: flex;
    gap: 50px;
}
.details-button-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-bottom: 20px;
}
.details-button-wrapper button:hover {
    background-color: green;
}
.details-button-wrapper button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 160px;
    background-color: brown;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}
.details-button-wrapper a {
    all: unset;
}

.hightes-bidder {
    width: 50%;
}

.details-alert-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
p.details-alert {
    font-size: 25px;
    color: red;
}
.details-alert-wrapper a {
    all: unset;
    align-self: center;
}
.details-content-middle-inner input {
    width: 50%;
    align-self: center;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.details-content-middle-inner .err-msg {
    color: red;
    margin: 0;
}

.details-content-header button:hover {
    background-color: green;
}
.details-content-header button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 160px;
    background-color: brown;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    margin: 0;
    align-self: center;
}