.login {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.login-form a {
    color: rgb(255, 176, 72);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 25%;
    padding: 0px 50px 50px 50px;
    margin: 50px 50px 200px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.login-form button:hover {
    background-color: green;
}
.login-form button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 160px;
    background-color: red;
}
