#main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; */
    background-color: whitesmoke;
}

.err-box {
    position: sticky;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    background-color: darkred;
    color: antiquewhite;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid gold;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 5px 7px 29px 5px;  
}
.err-box h1 {
    text-align: center;
    margin: 0;
}