
.catalog {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px;
    background-color: whitesmoke;
}
.catalog-header {
    letter-spacing: 5px;
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Card */
.card:hover {
    scale: 1.1;
    transition: ease-in-out 300ms;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 370px;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: antiquewhite;
}
.catalog .card h3 {
    letter-spacing: 1px;
}
.card-image-holder {
    height: 50%;
    width: 100%;
}
.catalog .card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: aliceblue;
}
.catalog .card p {
    margin: 0 0 5px 10px;
    align-self: start;
    font-weight: 500;
}
.catalog .card p span {
    font-weight: 700;
}

.catalog .card button:hover {
    background-color: green;
}
.catalog .card button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 120px;
    background-color: brown;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}
.catalog .card a {
    all: unset;
}

/* for no Listings */
.no-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-content h1 {
    font-size: 30px;
    font-weight: 400;
    font-style: oblique;
}

.no-content button:hover {
    background-color: green;
    scale: 1.1;
    transition: ease-in-out 300ms;
}
.no-content button {
    padding: 0;
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 120px;
    background-color: brown;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
}
.no-content a {
    all: unset;
}